@media screen and (min-width: 1024px) {
    .square {
        background-color: blue;

        border: green solid  5px;
        border-radius: 50% 50% 50% 50%;

        width: 33%;
        height: 400px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .square {
        background-color: red;

        border: yellow solid  5px;
        border-radius: 15px 15px 15px 15px;

        width: 66%;
        height: 400px;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .square {
        background-color: orange;

        border: black solid  5px;
        border-radius: 5px 5px 5px 5px;

        width: 100%;
        height: 400px;
    }
}